{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2><br>
    {% if user.is_authenticated %}
        Add to watchlist.
        <div>
            <form action="{% url 'watch' listing.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Watchlist">
            </form>
        </div>
    {% endif %}
    {% if listing.img %}
        <img src="{{ listing.img.url }}" alt="{{ listing.title }}" class="card-img" style="height: 300px; object-fit: scale-down;">
    {% endif %}
    <p>{{ listing.description }}</p>
    <h2>{{ curr_bid }}</h2>
    {% if user.is_authenticated %}
        <div>
            {% if bidder %}
                {{ num_of_bids }} bid(s) so far for this item.
                {% if bidder == user %}
                    Your bid is the current bid.
                {% else %}
                    {{ bidder.username }}`s bid is the current bid.
                {% endif %}
            {% else %}
                {{ num_of_bids }} bid(s) so far for this item.
            {% endif %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {{ form }}<br>
                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}
                <input type="submit" value="Place Bid">
            </form>
        </div>
    {% endif %}
{% endblock %}